@model IEnumerable<GestaoClientes.Domain.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}


<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>Lista de Clientes</h3>
    </div>
    <div class="card-body">
        <p>
            <a asp-controller="Clientes" asp-action="Create" class="btn btn-info">+ Adicionar</a>
        </p>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoDeCliente.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDeCliente.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        <a asp-controller="Clientes" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                        <a asp-controller="Clientes" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                        <a asp-controller="Clientes" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
